/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: crimson;
    text-align: center;
}
